.logo-span {
    color: #212121;
}

.logo {
    color: #2196F3;
}

.studio {
    color: #2196F3;
}

.Portfolio-Contacts {
    color: #212121;
}

.service {
    background-color: #2196F3;
    color: #FFFFFF;
}